<div class="container">
    <div class="mt-4 text-center">
        <form>
            <div class="form-group">
                <input class="mx-auto mt-4 w-50 form-control" 
                       type="text"  
                       placeholder="Your Full Name"
                       >
            </div>
            <div class="form-group">
                <input class="mx-auto mt-4 w-50 form-control" 
                       type="text" 
                       placeholder="Your Email"
                       >
            </div>
            <div class="form-group">
                <input class="mx-auto mt-4 w-50 form-control" 
                       type="password" 
                       placeholder="Mobile No."
                       >
            </div>
            <div class="form-group">
                <input class="mx-auto mt-4 w-50 form-control" 
                       type="password" 
                       placeholder="Create Password"
                       >
            </div>
            <!-- <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary rounded-pill my-4 mx-2">Create Account</button>
            <button type="btn" (click)="resetForm(signupForm)" class="btn btn-primary rounded-pill my-4 mx-2">Reset</button> -->
            <p>By clicking 'Create Account' I agree to WeFix <a class="text-primary text-decoration-underline">Term of Service</a></p>
        </form>
    </div>
   
</div>
